@import url('https://fonts.googleapis.com/css2?family=Borel&family=Kanit:wght@300&display=swap');

*{margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Kanit', Tahoma;}

.container{background:#171717;
color:#fff;
padding:2rem;
width:40%;
margin:4rem auto;
border-radius:10px;}